.custom-select{
    max-width: 100%;
    border-radius: 15px;
 }
 .custom-select2{
    max-width: 100%;
    border-radius: 15px;
 }
 
 .h1-3{
    font-family: 'LooseySans';
 font-size: 3.5vh;
 color: white;
 text-align: center;
 
 }
 .h1-5{
    font-family: 'LooseySans';
 font-size: 3.5vh;
 color: white;
 text-align: center;
 margin-left: 9%;
 
 }
 .selector-list{
    border-radius: 15px;
    background-color:#860f7c;
    border:#d31cc4 3px solid;
    height: 40%;
    margin-top: -5%;
    margin-left: 20px;
 
 }
 .selector-list2{
    border-radius: 15px;
    background-color:#860f7c;
    border:#d31cc4 3px solid;
    height: 17%;
    width: 70%;
    margin-left: 7%;
    margin-top: -5%;
 }
 .selector-listt{
    --background:#860f7c;
    --color: white !important;
    font-size: 2.5vh;
    margin-top: -10px;
 
 }
 ion-select{
    font-family: 'LooseySans';
 }