<ion-content>

  <ul class="progressbar">
    <li class="active"><img src="assets/imgs/trophy.png"></li>
    <li (click)="step2()"></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <h4>{{'Goal' | translate}}</h4>


<div class="form-area">
  <ion-button class="button" color="light" (click)="ActionBtn()"><p>{{'LoseWeight' | translate}}</p></ion-button>
  <ion-button class="button" color="light"><p>{{'GainWeight' | translate}}</p></ion-button>
  <ion-button class="button" color="light"><p>{{'Eat' | translate}}</p></ion-button>
  <ion-button class="button" color="light"><p>{{'Muscle' | translate}}</p></ion-button>
  <ion-button class="button" color="light"><p>{{'Diebete' | translate}}</p></ion-button>
</div>


<div style="padding: 0 60px;">
  <ion-button id="footer-btn" color="light" (click)="step2()"><p>{{'NEXT' | translate}}</p></ion-button>
</div>


</ion-content>