<ion-content>

    <ul class="progressbar">
      <li class="active" (click)="step1()"><img src="assets/imgs/trophy.png"></li>
      <li class="active" (click)="step2()"><img src="assets/imgs/cake.png"></li>
      <li class="active" (click)="step3()"><img src="assets/imgs/weight.png"></li>
      <li class="active"><img src="assets/imgs/runner.png"></li>
      <li></li>
    </ul>
  
    <div class="gif-block">
      <h4>Select your Physical Activity</h4>
      <img src="assets/imgs/activity.gif">
    </div>
  
  
    <div class="form-area">
      <ion-button>Sedentary</ion-button>
      <ion-button>Moderate Activity</ion-button>
      <ion-button>Active</ion-button>
      <ion-button>Professional Athlete</ion-button>
    </div>
  
  
    <div style="padding: 0 60px;">
      <ion-button class="button" (click)="step5()">next</ion-button>
    </div>
  
  
  </ion-content>
  