<ion-content>

    <ul class="progressbar">
      <li class="active" (click)="step1()"><img src="assets/imgs/trophy.png"></li>
      <li class="active" (click)="step2()"><img src="assets/imgs/cake.png"></li>
      <li class="active" (click)="step3()"><img src="assets/imgs/weight.png"></li>
      <li class="active"><img src="assets/imgs/runner.png"></li>
      <li></li>
    </ul>
  
    <div class="gif-block">
      <h4>{{'SelectPhysical' | translate}}</h4>
      <img src="assets/imgs/activity.gif">
    </div>
  
   
    <div class="form-area">
      <ion-button>{{'SEDENTRY' | translate}}</ion-button>
      <ion-button>{{'MODERATEACT' | translate}}</ion-button>
      <ion-button>{{'ACTIVE' | translate}}</ion-button>
      <ion-button>{{'Athelte' | translate}}</ion-button>
    </div>
  
  
    <div style="padding: 0 60px;">
      <ion-button class="button" (click)="step5()">{{'NEXT' | translate}}</ion-button>
    </div>
  
  
  </ion-content>
  