<ion-header no-border>
  <ion-toolbar>
    <ion-row>
    <ion-icon class="back-icon" name="arrow-back"></ion-icon>
    <ion-title>NUTRIENTS</ion-title>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
<div class="body">
  <h1>{{'CHALLENGES' | translate}}</h1>
  
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'DRINK' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 41.png" id="juice">
      </div>
    </ion-col>
    <ion-col size=".4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'SUGAR' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 56.png" id="sugar">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'CHIPS' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 43.png" id="chips">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'FASTFOOD' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 40.png" id="fastfood">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'ALCOHOL' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 44.png" id="alcohol">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'COFFEE' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 45.png" id="coffee">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'FRIED' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 46.png" id="friedfood">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'PIZZA' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 47.png" id="pizza">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p> ({{'TOBBACO' | translate}})<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 48.png" id="cigg">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'MEAT' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 49.png" id="meat">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'CANDY' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 53.png" id="candy1"> <img src="assets/imgs/Layer 54.png" id="candy2">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'CHOCO' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 55.png" id="chocolate">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'HIGHDRINK' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 51.png" id="sugardrink">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>{{'ENERGYDRINK' | translate}}<br>
          ({{'Hours' | translate}})
        </p>
        <img src="assets/imgs/Layer 52.png" id="energydrink">
      </div>
    </ion-col>
  </ion-row>
</div>
<br><br><br><br><br><br>
</ion-content>
