<ion-header no-border>
  <ion-toolbar>
    <ion-row>
    <ion-icon class="back-icon" name="arrow-back"></ion-icon>
    <ion-title>Nutrient</ion-title>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
<div class="body">
  <h1>Individual challenges</h1>
  
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without soft drink<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 41.png" id="juice">
      </div>
    </ion-col>
    <ion-col size=".4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without sugar<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 56.png" id="sugar">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without chips<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 43.png" id="chips">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without eating fastfood<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 40.png" id="fastfood">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without alcohol<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 44.png" id="alcohol">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without energy coffee<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 45.png" id="coffee">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without fried food<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 46.png" id="friedfood">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without pizza<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 47.png" id="pizza">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without tobacco<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 48.png" id="cigg">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without eating meat<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 49.png" id="meat">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without candy<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 53.png" id="candy1"> <img src="assets/imgs/Layer 54.png" id="candy2">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without chocolate<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 55.png" id="chocolate">
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without high sugar drink<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 51.png" id="sugardrink">
      </div>
    </ion-col>
    <ion-col size="0.4"></ion-col>
    <ion-col size="5.8">
      <div class="div-challenges">
        <p>Without energy drink<br>
          (24 hours)
        </p>
        <img src="assets/imgs/Layer 52.png" id="energydrink">
      </div>
    </ion-col>
  </ion-row>
</div>
<br><br><br><br><br><br>
</ion-content>
