ion-toolbar{
    --background:white;
    height: 50px !important;
 }
 ion-title{
    background: linear-gradient(to right,#d34848 40%,#8b008b 100%);
 -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    padding-top: 5px;
 }
 .back-icon{
     font-size: 20px;
     padding-top: 5px;
     color: #8b008b;
 }
 ion-content{
    --background: linear-gradient( #8b008b,#e15f5f);
    max-height: 100%;
 }
 .container{
    height: 100%;
    width: 100%;
 
 }
 
 .container #profile-header{
    color: white;
    font-size: 20px;
    text-align: center;
 }
 
 .container .profile-avatar{
    width: 28%;
    z-index: 111;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 6% !important;
    position: relative;
    img{
        border-radius: 50%;
    }
 }
 
 .container .profile-avatar .profile-avatar-plus{
    height: 25%;
    width: 25%;
    position: absolute;
    left: 70%;
    bottom: 8%;
 
 }
 
 .container{
    .accordion{
        height: 100%;
        width: 100%;
        color: white;
        margin-top: -20%;
        margin-left: 6%;
        font-size: 16px;
        margin-top: 2%;
        .content{
            width: 100%;
            height: 100%;
        }
        .acc{
            margin-left: 5%;
            border-bottom: 2px;
            border-width: 1px;
            border-color: white;
        }
        .acc img{
            height: 3.7%;
            width: 3.7%;
            margin-right: 3%;
            margin-top: 1.5%;
        }
        .acc ion-icon{
            margin-left: auto;
            margin-right: 12.5%;
            font-size: 23px;
            opacity: .9;
        }
        .acc hr{
            height: .6px;
            background-color: white;
            width: 85%;
            margin-left: 1%;
            opacity: .6;
        }
        .acc .content .input1{
            width: 60%;
            height: 17%;
            border-radius: 5px !important;
            background-color: white;
            margin-top: 2%;
            margin-bottom: 1%;
            color: black;
        }
        .acc .content ion-button{
            margin-left: 3%;
            width: 25%;
            height: 37px;
            margin-top: 2%;
            --box-shadow: none;
            --background: white;
            color: black;
            text-transform: none;
 
        }
        .notification h3{
            font-size: 18px;
            font-weight: bold;
            margin-top: -1%;
        }
        .notification ion-toggle{
            margin-left: auto;
            margin-right: 11%;
            margin-top: -2%;
            --background-checked: linear-gradient(to right, #2B324F, #57608E);
            --handle-background-checked: linear-gradient(to right, #2B324F, #57608E);
        }
        #others-head{
            color: white;
            font-weight: bold;
        }
 
        #info{
            height: 2.8%;
            width: 2.5%;
            margin-left: 1%;
            margin-top: -.2%;
            margin-right: 3%;
        }
        #icon6{
            margin-left: auto;
            margin-right: 12.5%;
        }
        #emailph{
            opacity: .7;
            font-size: 20px;
            margin-top: 8%;
            margin-left: -18%;
            margin-right: auto;
            margin-bottom: 0%;
        } 
    }
 }
 .container .endDiv{
    height: 200px !important;
    width: 100%;
    position: absolute;
    bottom: 0px !important;
    z-index: -111;
 }

 .selector-list{
    border-radius: 15px;
    background-color:#d34848;
    border:White 1px solid;
    height: 8%;
    margin-left: 30px;
    width: 70%;
 }
 .selector-listt{
    --background:#D75464;
    --color: white !important;
    font-size: 2.5vh;
    margin-top: -10px;
    ion-select{
        margin-left: 55px;
    }
 }
 