<ion-header no-border>
    <ion-toolbar>
      <ion-row>
      <ion-icon class="back-icon" name="arrow-back"></ion-icon>
      <ion-title>Profile</ion-title>
    </ion-row>
    </ion-toolbar>
  </ion-header>
<ion-content>
<div class="container">
  <h1 id="profile-header">{{'PROFILE' | translate}}</h1>
  <div class="profile-avatar">
      <img src="./assets/imgs/avatar.png">
      <div class="profile-avatar-plus">
        <img src="./assets/imgs/avatar-plus.png" >
      </div>
    </div>
    <div class="accordion"> 
        <accordion [showArrows]="true" [closeOthers]="true" [expandAll]="false">
            
            <accordion-group class="acc" (onOpen)="doSomethingOnOpen(1)" (onClose)="doSomethingOnClose(1)">
                <accordion-heading>
                    <accordion-toggle>
                       <ion-row><img src="./assets/imgs/man-user.png">Change your name<ion-icon *ngIf="!isOpen1[0]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[0]" name="ios-arrow-down"></ion-icon></ion-row> 
                      <hr *ngIf="!isOpen1[0]">
                    </accordion-toggle>
                </accordion-heading>
                <div class="content">
                    <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row>
                </div>
                <hr *ngIf="isOpen1[0]" >
            </accordion-group>
            <accordion-group class="acc" (onOpen)="doSomethingOnOpen(2)" (onClose)="doSomethingOnClose(2)">
              <accordion-heading>
                  <accordion-toggle>
                     <ion-row><img src="./assets/imgs/gear-head.png">Change your program <ion-icon *ngIf="!isOpen1[1]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[1]" name="ios-arrow-down"></ion-icon></ion-row> 
                    <hr *ngIf="!isOpen1[1]">
                  </accordion-toggle>
              </accordion-heading>
              <div class="content">
                  <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
              </div>
              <hr *ngIf="isOpen1[1]" >
          </accordion-group>
          <accordion-group class="acc" (onOpen)="doSomethingOnOpen(3)" (onClose)="doSomethingOnClose(3)">
            <accordion-heading>
                <accordion-toggle>
                   <ion-row><img src="./assets/imgs/food-scale-tool.png">Change your weight <ion-icon *ngIf="!isOpen1[2]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[2]" name="ios-arrow-down"></ion-icon></ion-row> 
                  <hr *ngIf="!isOpen1[2]">
                </accordion-toggle>
            </accordion-heading>
            <div class="content">
                <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
            </div>
            <hr *ngIf="isOpen1[2]" >
        </accordion-group>
        <accordion-group class="acc" (onOpen)="doSomethingOnOpen(4)" (onClose)="doSomethingOnClose(4)">
          <accordion-heading>
              <accordion-toggle>
                 <ion-row><img src="./assets/imgs/height.png">Change your height <ion-icon *ngIf="!isOpen1[3]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[3]" name="ios-arrow-down"></ion-icon></ion-row> 
                <hr *ngIf="!isOpen1[3]">
              </accordion-toggle>
          </accordion-heading>
          <div class="content">
              <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
          </div>
          <hr *ngIf="isOpen1[3]" >
      </accordion-group>
      <accordion-group class="acc" (onOpen)="doSomethingOnOpen(5)" (onClose)="doSomethingOnClose(5)">
              <accordion-heading>
                  <accordion-toggle>
                     <ion-row><img src="./assets/imgs/runner.png">Change your activity level <ion-icon *ngIf="!isOpen1[4]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[4]" name="ios-arrow-down"></ion-icon></ion-row> 
                    <hr *ngIf="!isOpen1[4]">
                  </accordion-toggle>
              </accordion-heading>
              <div class="content">
                  <!-- <ion-row><div class="input1"><ion-input></ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
              </div>
              <hr *ngIf="isOpen1[4]" >
          </accordion-group>
            
          <ion-row class="notification"><h3>Manage my notifications</h3> <ion-toggle mode="md" checked="true"></ion-toggle></ion-row>
          <h2 id="others-head">OTHERS</h2>
          <accordion-group class="acc" (onOpen)="doSomethingOnOpen(6)" (onClose)="doSomethingOnClose(6)" id="info">
            <accordion-heading>
                <accordion-toggle>
                   <ion-row><img src="./assets/imgs/info.png" id="info">FAQ<ion-icon *ngIf="!isOpen1[5]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[5]" name="ios-arrow-down"></ion-icon></ion-row> 
                  <hr *ngIf="!isOpen1[5]">
                </accordion-toggle>
            </accordion-heading>
            <div class="content">
                <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
            </div>
            <hr *ngIf="isOpen1[5]" >
        </accordion-group>
        <accordion-group class="acc" (onOpen)="doSomethingOnOpen(7)" (onClose)="doSomethingOnClose(7)">
          <accordion-heading>
              <accordion-toggle>
                 <ion-row><img src="./assets/imgs/phone-book.png">Contact Us<ion-icon *ngIf="!isOpen1[6]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[6]" name="ios-arrow-down"></ion-icon></ion-row> 
                <hr *ngIf="!isOpen1[6]">
              </accordion-toggle>
          </accordion-heading>
          <div class="content">
              <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
          </div>
          <hr *ngIf="isOpen1[6]" >
      </accordion-group>
      <accordion-group class="acc" (onOpen)="doSomethingOnOpen(8)" (onClose)="doSomethingOnClose(8)">
        <accordion-heading>
            <accordion-toggle>
               <ion-row><img src="./assets/imgs/star.png">Rate Us<ion-icon *ngIf="!isOpen1[7]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[7]" name="ios-arrow-down"></ion-icon></ion-row> 
              <hr *ngIf="!isOpen1[7]">
            </accordion-toggle>
        </accordion-heading>
        <div class="content">
            <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
        </div>
        <hr *ngIf="isOpen1[7]" >
    </accordion-group>
    <accordion-group class="acc" (onOpen)="doSomethingOnOpen(9)" (onClose)="doSomethingOnClose(9)">
      <accordion-heading>
          <accordion-toggle>
             <ion-row><img src="./assets/imgs/rubbish-bin.png">Delete My Account<ion-icon *ngIf="!isOpen1[8]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[8]" name="ios-arrow-down"></ion-icon></ion-row> 
            <hr *ngIf="!isOpen1[8]">
          </accordion-toggle>
      </accordion-heading>
      <div class="content">
          <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
      </div>
      <hr *ngIf="isOpen1[8]" >
  </accordion-group>
  <accordion-group class="acc" (onOpen)="doSomethingOnOpen(10)" (onClose)="doSomethingOnClose(10)">
          <accordion-heading>
              <accordion-toggle>
                 <ion-row><img src="./assets/imgs/friends.png">Input Your Friends!<ion-icon *ngIf="!isOpen1[9]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[9]" name="ios-arrow-down"></ion-icon></ion-row> 
                <hr *ngIf="!isOpen1[9]">
              </accordion-toggle>
          </accordion-heading>
          <div class="content">
              <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
          </div>
          <hr *ngIf="isOpen1[9]">
      </accordion-group>
      <h2 id="others-head">MY ACCOUNT</h2>
       
      <accordion-group class="acc" (onOpen)="doSomethingOnOpen(11)" (onClose)="doSomethingOnClose(11)">
          <accordion-heading>
              <accordion-toggle>
                 <ion-row><img src="./assets/imgs/mail.png">Email<p id="emailph" *ngIf="!isOpen1[10]">John@email.com</p><p *ngIf="isOpen1[10]"></p><ion-icon *ngIf="!isOpen1[10]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[10]" name="ios-arrow-down"></ion-icon></ion-row> 
                <hr *ngIf="!isOpen1[10]">
              </accordion-toggle>
          </accordion-heading>
          <div class="content">
              <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
          </div>
          <hr *ngIf="isOpen1[10]" >
      </accordion-group>
      <accordion-group class="acc" (onOpen)="doSomethingOnOpen(12)" (onClose)="doSomethingOnClose(12)">
          <accordion-heading>
              <accordion-toggle>
                 <ion-row><img src="./assets/imgs/telephone.png">Input Your Friends!<ion-icon *ngIf="!isOpen1[11]" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="isOpen1[11]" name="ios-arrow-down"></ion-icon></ion-row> 
                <hr *ngIf="!isOpen1[11]">
              </accordion-toggle>
          </accordion-heading>
          <div class="content">
              <!-- <ion-row><div class="input1"><ion-input> </ion-input> </div> <ion-button>Done</ion-button> </ion-row> -->
          </div>
          <hr *ngIf="isOpen1[11]">
      </accordion-group>
        </accordion>
        
        <ion-list class="selector-list">
                <ion-item class="selector-listt">
             
                  <ion-select class="custom-select" okText="Okay" cancelText="Dismiss"  [(ngModel)]="lang" (ionChange)="switchLanguage()">
                    <ion-select-option value="en">English</ion-select-option>
                    <ion-select-option value="mex">Spanish</ion-select-option>
             
                  </ion-select>
                </ion-item>
             
              </ion-list>
        <br><br><br><br><br>
    </div>
</div>


</ion-content>