<ion-content>
<div  class="container" >
  <h2>{{'Welcome' | translate}}</h2>
  <h4>{{'YourNutritionApp' | translate }}</h4>

<img src="assets/imgs/Quinoapp1.png" alt="">

  <div class="content" style="padding: 0 40px">

    <ion-button class="button" color="light" (click)="step1()"><p>{{'SignUp' | translate}}</p></ion-button>
    <h5>{{'Already'| translate }}</h5>
    <ion-button class="button" color="light" (click)="login()"><p>{{'Login' | translate}}</p></ion-button>

  </div>
  
</div>
</ion-content>