ion-content{
    height: 100%;
    width: 100%;
}
.container{
    background-image: url('./../../../../assets/imgs/login-bg.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10%;

    .content {
    padding: 10px 40px!important;
    img {
        width: 270px;
        padding: 45px 0;
    }
    --border-radius: 10px;
    padding: 6px 6px 28px 6px;
    ion-item {
    padding-left: 0;
    margin-bottom: 4px;
    --background: transparent;
    border-bottom: 1px solid #fff;
    --border-radius: unset;
        img {
            width: 22px;
            position: relative;
            padding: 0;
            margin-right: 15px;
        }
        ion-input {
            width: 100%;
            --background: transparent;
            --border: none;
            --padding: 15px;
            --color: #fff;
            font-weight: 100;
            font-size: 17px;
        }
    }
    .button {
        width: 85%;
        height: 2.5rem;
        margin-bottom: 8px;
        --border-radius: 30px;
        font-size: 16px;
        --color: #d84c8c;
        --background: white;
    }
    .facebook-btn {
        --background: #3b579d;
        --color: #fff;
        font-size: 14px;
        ion-icon {
        margin-right: 10px;
        }
    }
    .forgot-btn {
        --background: transparent;
        --box-shadow: none;
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 300;
        --color: #fff;
    }
    }
    }

  