.container{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    left:0px;
    bottom:0px;
}

.footer{
    height: 100% !important;
    width: 100% !important;
    display: inline-block;
}

.footer img{
    display: inline;
    position: relative;
    bottom: -8px !important;
    z-index: 1;
}

@media (min-width: 360px) and (max-width: 374px){
    .tabsButton > img{
        position: fixed;
        z-index: 2;
        height: 30px;
        width: 25px;
        margin-bottom: 20px;
        margin-left : -15px;
    }
    .tabsButton2 > img{
        position: fixed;
        z-index: 2;
        height: 30px;
        width: 25px;
        margin-bottom: 20px;
        margin-right : auto;
        margin-left: 32px;
    }
    #tr{
        width: 33px !important;
    }
    .add-icon-div{
        background-color: white;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-bottom: -52px;
        margin-left: -16px;
        display: block;
    }
    .add-img{
        height: 50px;
        width: 50px;
        display: inline-block;
        margin-left: 15px;
        margin-top: 8px;
        
    }
}
@media (min-width: 411px) and (max-width: 440px){
    .tabsButton > img{
        position: fixed;
        z-index: 2;
        height: 33px;
        width: 28px;
        margin-bottom: 23px;
        margin-left : -15px;
    }
    .tabsButton2 > img{
        position: fixed;
        z-index: 2;
        height: 33px;
        width: 28px;
        margin-bottom: 23px;
        margin-right : auto;
        margin-left: 32px;
    }
    .add-icon-div{
        background-color: white;
        height: 85px;
        width: 85px;
        border-radius: 50%;
        margin-bottom: -58px;
        margin-left: -14px;
        display: block;
        z-index:11111;
    }
    .add-img{
        height: 53px;
        width: 53px;
        display: inline-block;
        margin-left: 16px;
        margin-top: 8px;
        
    }
    #tr{
        width: 33px !important;
    }
}
@media (min-width: 320px) and  (max-width: 359px){
    .tabsButton > img{
        position: fixed;
        z-index: 2;
        height: 30px;
        width: 25px;
        margin-bottom: 20px;
        margin-left : -15px;
    }
    .tabsButton2 > img{
        position: fixed;
        z-index: 2;
        height: 30px;
        width: 25px;
        margin-bottom: 20px;
        margin-right : auto;
        margin-left: 32px;
    }
    .add-icon-div{
        background-color: white;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        margin-bottom: -50px;
        margin-left: -15px;
        display: block;
    }
    .add-img{
        height: 45px;
        width: 45px;
        display: inline-block;
        margin-left: 13px;
        margin-top: 6px;
        
    }
    #tr{
        width: 33px !important;
    }
}
@media (min-width: 375px) and  (max-width: 410px){
    .tabsButton > img{
        position: fixed;
        z-index: 2;
        height: 30px;
        width: 25px;
        margin-bottom: 20px;
        margin-left : -15px;
    }
    .tabsButton2 > img{
        position: fixed;
        z-index: 2;
        height: 30px;
        width: 25px;
        margin-bottom: 20px;
        margin-right : auto;
        margin-left: 32px;
    }
    .add-icon-div{
        background-color: white;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-bottom: -54px;
        margin-left: -15px;
        display: block;
    }
    .add-img{
        height: 50px;
        width: 50px;
        display: inline-block;
        margin-left: 15px;
        margin-top: 8px;
        
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .tabsButton > img{
        position: fixed;
        z-index: 2;
        height: 60px;
        width: 55px;
        margin-bottom: 35px;
        margin-left : -15px;
    }
    .tabsButton2 > img{
        position: fixed;
        z-index: 2;
        height: 60px;
        width: 55px;
        margin-bottom: 35px;
        margin-right : auto;
        margin-left: 66px;
    }
    .add-icon-div{
        background-color: white;
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-bottom: -90px;
        margin-left: -23px;
        display: block;
    }
    .add-img{
        height: 95px;
        width: 95px;
        display: inline-block;
        margin-left: 32px;
        margin-top: 26px;
        
    }
    #tr{
        width: 33px !important;
    }
}

@media (min-width: 441px) and (max-width: 480px){
    .tabsButton > img{
        position: fixed;
        z-index: 2;
        height: 40px;
        width: 35px;
        margin-bottom: 25px;
        margin-left : -15px;
    }
    .tabsButton2 > img{
        position: fixed;
        z-index: 2;
        height: 40px;
        width: 35px;
        margin-bottom: 25px;
        margin-right : auto;
        margin-left: 66px;
    }
    .add-icon-div{
        background-color: white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: -64px;
        margin-left: -19px;
        display: block;
    }
    .add-img{
        height: 55px;
        width: 55px;
        display: inline-block;
        margin-left: 22px;
        margin-top: 15px;
        
    }
    #tr{
        width: 33px !important;
    }
}
@media (min-width: 480px) and (max-width: 520px){
    .tabsButton > img{
        position: fixed;
        z-index: 2;
        height: 40px;
        width: 35px;
        margin-bottom: 25px;
        margin-left : -15px;
    }
    .tabsButton2 > img{
        position: fixed;
        z-index: 2;
        height: 40px;
        width: 35px;
        margin-bottom: 25px;
        margin-right : auto;
        margin-left: 66px;
    }
    .add-icon-div{
        background-color: white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: -68px;
        margin-left: -15px;
        display: block;
    }
    .add-img{
        height: 55px;
        width: 55px;
        display: inline-block;
        margin-left: 22px;
        margin-top: 15px;
        
    }
    #tr{
        width: 33px !important;
    }
}
@media (min-width: 600px) and (max-width: 620px){
    .tabsButton > img{
        position: fixed;
        z-index: 2;
        height: 50px;
        width: 40px;
        margin-bottom: 25px;
        margin-left : -15px;
    }
    .tabsButton2 > img{
        position: fixed;
        z-index: 2;
        height: 50px;
        width: 40px;
        margin-bottom: 25px;
        margin-right : auto;
        margin-left: 66px;
    }
    .add-icon-div{
        background-color: white;
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin-bottom: -73px;
        margin-left: -27px;
        display: block;
    }
    .add-img{
        height: 70px;
        width: 70px;
        display: inline-block;
        margin-left: 35px;
        margin-top: 27px;
        
    }
    #tr{
        width: 33px !important;
    }
}

    
