
    ion-content {
      --background: linear-gradient(to right, #e05e5f , #8d038a 108%);
      padding: 9px 22px 25px;
      text-align: center;
      .progressbar {
        counter-reset: step;
        padding: 12px 0 0;
        li {
          list-style: none;
          display: inline-block;
          width: 18.5%;
          position: relative;
          text-align: center;
          color: #a01285;
          font-weight: 500;
          font-size: 15px;
          img {
            width: 18px;
            top: -39px;
            position: relative;
            display: flex;
            margin: auto;
            position: relative;
            z-index: 2;
          }
          &::before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            line-height : 30px;
            border: 4px solid #f98c93;
            border-radius: 100%;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            background-color: #f2cbd1;
            position: relative;
            z-index: 2;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 7px;
            background-color: #ec6e79;
            top: 15px;
            left: -50%;
            z-index : 1;
          }
          &:first-child:after {
            content: none;
          }
        }
        .active {
          color: #fff;
          &:before {
            border-color: #fff;
            background-color: #fff;
          }
        }
      }
      .progressbar li.active + li:after {
        background-color: #a530af;
      }
      .gif-block {
        padding: 0 6px;
        h4 {
          text-align: center;
          color: #fff;
          font-size: 1.2rem;
          padding-bottom: 1.2rem;
          font-weight: 400;
        }
        img {
          width: 90%;
          object-fit: cover;
          height: 155px;
          border-radius: 6px;
          border: 2px solid #fff;
          padding: 3px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
      .form-area {
        padding: 30px 6px;
        ion-row {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 14px;
          &:last-child {
            padding-bottom: 0px;
          }
          ion-input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 7px;
            --background: white;
            text-align: left;
            height: 2rem;
          }
          ion-button{
            --background: #fff;
            --color: #a01285;
            --border-radius: 7px;
            height: 2rem;
            font-size: 14px;
            box-shadow: none;
            margin-top: 0.3px;
            
          }
          label {
            width: 100%;
            text-align: left;
            color: #fff;
            padding-bottom: 4px;
            padding-left: 5px;
          }
        //   [col-3]{
        //     padding: 1px 0 0!important;
        //     .button {
        //       --background: #fff;
        //       --color: #a01285;
        //       --border-radius: 7px;
        //       height: 3rem;
        //       font-size: 14px;
        //     }
        //   }
        //   [col-12] {
        //     padding-right: 0;
        //     padding-left: 0;
        //   }
        //   [col-9] {
        //     padding-left: 0;
        //   }
        }
      }
      .button {
        --border-radius: 30px;
        --background: #fff;
        --color: #a01285;
        height: 2.5rem;
        font-size: 16px;
        width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      }
    }

  