<ion-content>


    <ul class="progressbar">
      <li class="active" (click)="step1()"><img src="assets/imgs/trophy.png"></li>
      <li class="active" (click)="step2()"><img src="assets/imgs/cake.png"></li>
      <li class="active" (click)="step3()"><img src="assets/imgs/weight.png"></li>
      <li (click)="step4()"></li>
      <li></li>
    </ul>
  
  
    <div class="gif-block">
      <h4>{{'Personlize' | translate}}</h4>
      <img src="assets/imgs/weightgif.gif">
    </div>
  
    <div class="form-area">
      <ion-row>
        <label>{{'WEIGHT' | translate}}</label>
        <ion-col size="9">
          <ion-input mode="md" type="text" placeholder="{{'EnterWeight' | translate}}"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-button *ngIf="kg" (click)="convertKg()">Kg</ion-button>
          <ion-button *ngIf="!kg" (click)="convertKg()">lb</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <label>{{'HEIGHT' | translate}}</label>
        <ion-col size="9">
          <ion-input mode="md" type="text" placeholder="{{'EnterHeight' | translate}}"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-button *ngIf="cm" (click)="convertCm()">cm</ion-button>
          <ion-button *ngIf="!cm" (click)="convertCm()">in</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <label>{{'WeightGoal' | translate}}</label>
        <ion-col col-12>
          <ion-input mode="md" type="text" placeholder="{{'EnterWeightGoal' | translate}}"></ion-input>
        </ion-col>
      </ion-row>
    </div>
  
    <div style="padding: 0 55px;">
      <ion-button class="button" (click)="step4()">{{'NEXT' | translate}}</ion-button>
    </div>
  
  </ion-content>
  