ion-toolbar{
    --background:white;
    height: 50px !important;
 }
 ion-title{
    background: linear-gradient(to right,#d34848 40%,#8b008b 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 18px !important;
    padding-top: 5px !important;
    text-transform: uppercase;  
 }

 .back-icon2{
     font-size: 20px;
     color: #8b008b;
     position: relative;
     
 }
 ion-content{
    --background: linear-gradient( #8b008b,#e15f5f);
    max-height: 100%;
}
.img-div{
    height:15%;
    min-height: 15% !important;
    width: 100%;
   
}
.img1{
    height:100%;
    width: 100%;
    
}
.para-img-div{
    margin-left: 28%;
    margin-top: -13%;
    font-size: 14px;
    color: white;
    text-align: right;
}
@media (min-width: 320px) and  (max-width: 359px){
    .para-img-div{
        margin-left: 28%;
        margin-top: -13%;
        font-size: 13px;
        color: white;
        text-align: right;
    }
}
.h4{
    color: white;
    font-size: 16px;
}
.outer-loader-div{
    height: 60px;
    width: 100%;
    background-color:white;
    border-radius: 5px;
}
.outer-loader-div p{
    font-size: 12px;
    background: linear-gradient(to right,#8b008b, #e15f5f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 5%;
}
.ppp{
    padding-left:20%;
}

@media (min-width: 320px) and  (max-width: 359px){
    .outer-loader-div p{
        font-size: 11px !important;
        background: linear-gradient(to right,#8b008b, #e15f5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        bottom: 5%;
    }
    .ppp{
        padding-left:20%;
        font-size: 11px !important;
    }
}

.inner-loader-div{
    height: 15%;
    width: 96%;
    background-color:#F5F5F5;
    margin-top: -4%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.loader-div{
    height: 100%;
    width: 66%;
    background: linear-gradient(to right,#8b008b, #e15f5f);
    margin-top: -5%;
}
.nutrient-tracker-div{
    height: 60px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin-top: -22%;
}
.nutrient-tracker-div h6{
    padding-top:10px;
    padding-left: 30%;
    background: linear-gradient(to right,#e15f5f,#8b008b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nutrient-tracker-div p{
    margin-top: -10%;
    font-size: 12px;
    padding-left: 35%;
}

.stepper{
    display: inline;
}

.stTable{
   margin-left: 1px;
   margin-top: 20px;
}


.circle {
    cursor: pointer;

	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);


	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 25px;
	height: 25px;
	z-index: 86;

	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    
}
.circle p{
    margin-top:1px;
    font-size: 14px;
    background: linear-gradient(to right,#8b008b, #e15f5f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.circle.filled {
	background-color: #666666;
}


.filledCircle{
    border: 10px solid #666666;
}
th > p{
    color: white;
    font-size: 0.7em;
    font-family: sans-serif;
    position: relative;
    top: 5px;
}


@media (min-width: 360px) and (max-width: 374px) {
    hr{
        background: #FFFFFF;
        opacity: 2;
        height: 7px;
        clear:both;
        display:block;
        width: 25px;
        margin-top: 40px;
    }
    .space{
        margin-left: 5px;
        z-index: 1111;
    }
   
}
.circleActive{
    border: 3px solid white;
    background-color: white;   
   }
   
   .circleDeactive{
       border: 3px solid #F45257;
       background-color: #FDCACE;
   }
@media (min-width: 411px) and (max-width: 440px){

    hr{
        background: #FFFFFF;
        opacity: 2;
        height: 8px;
        clear:both;
        display:block;
        width: 27px;
        margin-top: 40px;
    }
    .space{
        margin-left: 5px;
        z-index: 1111;
    }
    .circle {
        cursor: pointer;
        border-radius: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    
        -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        width: 30px;
        height: 30px;
        z-index: 86;
        
    }
    .circle p{
        margin-top:2px;
        font-size: 15px;
        background: linear-gradient(to right,#8b008b, #e15f5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media (min-width: 320px) and  (max-width: 359px){
    hr{
        background: #FFFFFF;
        opacity: 2;
        height: 6px;
        clear:both;
        display:block;
        width: 18px;
        margin-top: 40px;
    }
    .space{
        margin-left: 3px;
        z-index: 1111;
    }
    .circle {
        cursor: pointer;
        border-radius: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    
        -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        width: 25px;
        height: 25px;
        z-index: 86;
        
    }
    .circle p{
        margin-top:1px;
        font-size: 15px;
        background: linear-gradient(to right,#8b008b, #e15f5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media (min-width: 375px) and  (max-width: 410px){
    hr{
        background: #FFFFFF;
        opacity: 2;
        height: 7px;
        clear:both;
        display:block;
        width: 27px;
        margin-top: 42px;
    }
    .space{
        margin-left: 7px;
        z-index: 1111;
    }
    .circle {
        cursor: pointer;
        border-radius: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    
        -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        width: 26px;
        height: 26px;
        z-index: 86;
    }
}
@media (min-width: 441px) and (max-width: 480px){
    hr{
        background: #FFFFFF;
        opacity: 2;
        height: 8px;
        clear:both;
        display:block;
        width: 30px;
        margin-top: 40px;
    }
    .space{
        margin-left: 5px;
        z-index: 1111;
    }
    .circle {
        cursor: pointer;
        border-radius: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    
        -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        width: 30px;
        height: 30px;
        z-index: 86;
        
    }
    .circle p{
        margin-top:2px;
        font-size: 15px;
        background: linear-gradient(to right,#8b008b, #e15f5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media (min-width: 480px) and (max-width: 520px){
    hr{
        background: #FFFFFF;
        opacity: 2;
        height: 8px;
        clear:both;
        display:block;
        width: 35px;
        margin-top: 40px;
    }
    .space{
        margin-left: 5px;
        z-index: 1111;
    }
    .circle {
        cursor: pointer;
        border-radius: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    
        -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        width: 30px;
        height: 30px;
        z-index: 86;
        
    }
    .circle p{
        margin-top:2px;
        font-size: 15px;
        background: linear-gradient(to right,#8b008b, #e15f5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media (min-width: 600px) and (max-width: 620px){
    hr{
        background: #FFFFFF;
        opacity: 2;
        height: 8px;
        clear:both;
        display:block;
        width: 45px;
        margin-top: 40px;
    }
    .space{
        margin-left: 5px;
        z-index: 1111;
    }
    .circle {
        cursor: pointer;
        border-radius: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    
        -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
        width: 40px;
        height: 40px;
        z-index: 86;
        
    }
    .circle p{
        margin-top:8px;
        font-size: 17px;
        background: linear-gradient(to right,#8b008b, #e15f5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.meal-plan-div{
    height: 70px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
.Meal-img{
    height: 50px;
    width: 60px;
    margin-left: 5px;
    margin-top: 5px;
}
.Meal-plan-h6{
    font-size: 14px;
    background: linear-gradient(to right,#e15f5f,#8b008b );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        bottom: 10px;
        left: 5px;
}
.meal-plan-div p{
    font-size: 11px;
    margin-top: -10px;
    position: relative;
        bottom: 10px;
        left: 5px;
}
.Meal-plan-h6-2{
    font-size: 14px;
    background: linear-gradient(to right,#e15f5f,#8b008b );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        bottom: 10px;
        left: 10%;
}
.meal-heart-img{
    height: 18px;
    width: 18px;
    position: relative;
    bottom: 15px;
    left: 15%;
}
.meal-search-img{
    height: 18px;
    width: 18px;
    position: relative;
    bottom: 15px;
    left: 30%;
}
@media (min-width: 320px) and  (max-width: 359px){
    .Meal-plan-h6-2{
        font-size: 12px;
        background: linear-gradient(to right,#e15f5f,#8b008b );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            bottom: 10px;
            left: 10%;
    }
    .meal-heart-img{
        height: 16px;
        width: 16px;
        position: relative;
        bottom: 15px;
        left: 15%;
    }
    .meal-search-img{
        height: 16px;
        width: 16px;
        position: relative;
        bottom: 15px;
        left: 30%;
    }
    .meal-plan-div p{
        font-size: 10px;
        margin-top: -10px;
        position: relative;
            bottom: 10px;
            left: 5px;
    }
}
.container {
    display: block;
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    
    .scroll {
      overflow: auto;
    }
  }

.item{
    display: inline-block;
    outline: none;
}

.item > img{
    width: 90% !important;
    height: 25vh;
}

.Track-weight-div{
    height: 80px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
.back-icon{
    padding-top: 28px;
    margin-left: 10px;
}
.forward-icon{
    padding-top: 28px;
    float: right;
    margin-right: 10px;
}
.Track-weight-div img{
    height: 40px;
    width: 35px;
    margin-top: 15px;
    margin-left:25px;
}
.track-weight-btn{
    height: 30px;
    width: 50%;
    --background: linear-gradient(to right,#8b008b, #e15f5f);
    position: relative;
    left: 30%;
    bottom: 15px;
    font-size: 13px;
}
.Track-weight-div h6{
    position: relative;
    bottom: 10px;
}
.water-div{
    height: 70px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
.glass{
    height: 43px;
    width: 9%;
    margin-left: 11px;
    margin-top: 15px;
}
@media (min-width: 320px) and  (max-width: 359px){
    .water-div{
        height: 70px;
        width: 100%;
        background-color: white;
        border-radius: 5px;
    }
    .glass{
        height: 40px;
        width: 8%;
        margin-left: 11px;
        margin-top: 15px;
    }
}

.awin-div{
    height: 100px;
    width: 100%;
}
