
<ion-content >
    <ul class="progressbar">
      <li class="active" (click)="step1()"><img src="assets/imgs/trophy.png"></li>
      <li class="active" (click)="step2()"><img src="assets/imgs/cake.png"></li>
      <li class="active" (click)="step3()"><img src="assets/imgs/weight.png"></li>
      <li class="active" (click)="step4()"><img src="assets/imgs/runner.png"></li>
      <li class="active"><img src="assets/imgs/envelope-icon.png"></li>
    </ul>
  
  
    <div class="content">
      <img src="assets/imgs/logo.png" alt="">
  
      <div class=inner-div>
        <ion-item>
          <img src="assets/imgs/envelope.svg" alt="">
          <ion-input type="email" placeholder="{{'EMAIL' | translate}}"></ion-input>
        </ion-item>
        <ion-item>
          <img src="assets/imgs/locked.png" alt="">
          <ion-input type="password" placeholder="{{'PASS' | translate}}"></ion-input>
        </ion-item>
      </div>
  
  
      <ion-button class="button">{{'SignUp' | translate}}</ion-button>
      <ion-button class="facebook-btn"><ion-icon name="logo-facebook"></ion-icon>{{'FB' | translate}}</ion-button>
  
    </div>
  
  
  </ion-content>
  