ion-content {
      --background: linear-gradient(to right, #e05e5f , #8d038a 108%);
      padding: 9px 22px 25px;
      text-align: center;
      .progressbar {
        counter-reset: step;
        padding: 12px 0 0;
        li {
          list-style: none;
          display: inline-block;
          width: 18.5%;
          position: relative;
          text-align: center;
          color: #a01285;
          font-weight: 500;
          font-size: 15px;
          img {
            width: 18px;
            top: -39px;
            position: relative;
            z-index: 2;
            display: flex;
            margin: auto;
          }
          &::before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            line-height : 30px;
            border: 4px solid #f98c93;
            border-radius: 100%;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            background-color: #f2cbd1;
            position: relative;
            z-index: 2;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 7px;
            background-color: #ec6e79;
            top: 15px;
            left: -50%;
            z-index : 1;
          }
          &:first-child:after {
            content: none;
          }
        }
        .active {
          color: #fff;
          &:before {
            border-color: #fff;
            background-color: #fff;
          }
        }
      }
      .progressbar li.active + li:after {
        background-color: #a530af;
      }
  
      .content {
        padding: 10px 20px!important;
        img {
          width: 250px;
          padding: 14px 0 35px;
        }
        .inner-div{
          border-radius: 10px;
          padding: 6px 6px 28px 6px;
          --background: transparent;
          ion-item {
            padding-left: 0;
            margin-bottom: 4px;
            --background: inherit;
            --border-bottom: 1px solid #fff;
            --border-radius: unset;
            border-bottom: white solid 1px;
              img {
                  width: 22px;
                  position: relative;
                  padding: 0;
                  margin-right: 14px;
                }
                ion-input {
                  width: 100%;
                  --background: transparent;
                  --border: none;
                  --padding: 15px;
                  --color: #fff;
                  font-weight: 100;
                  font-size: 17px;
                  
                }
              
            
          }
        }
        .button {
          width: 80%;
          height: 2.5rem;
          margin-bottom: 8px;
          --border-radius: 30px;
          font-size: 16px;
          --color: #d84c8c;
          margin-top: 20px;
          --background: white;
        }
        .facebook-btn {
          --background: #3b579d;
          color: #fff!important;
          font-size: 14px;
          ion-icon {
            margin-right: 10px;
          }
        }
      }
  
    }
  