<div class="container">
  <div class="images">
      <img class="add-img1" src="assets/imgs/Breakfast.png" (click)="openBreakfast()">
      <img class="add-img2" src="assets/imgs/Morning.png" (click)="openBreakfast()">
      <img class="add-img3" src="assets/imgs/Lunch.png" (click)="openBreakfast()">
      <img class="add-img4" src="assets/imgs/Afternoon.png" (click)="openBreakfast()">
      <img class="add-img5" src="assets/imgs/Dinner.png" (click)="openBreakfast()">
  </div>
  <div class="footer">
      <img src="assets/imgs/close.png"(click)="closeModal()">
  </div>
</div>
<!-- <div class="circle-div">
<img class="circle-img" src="assets/imgs/share.png">
</div>
<ion-row>
   
      <img class="add-img1" src="assets/imgs/Breakfast.png">
      <img class="add-img2" src="assets/imgs/Morning.png">
      <img class="add-img3" src="assets/imgs/Lunch.png">
      <img class="add-img4" src="assets/imgs/Afternoon.png">
      <img class="add-img5" src="assets/imgs/Dinner.png">
    
  </ion-row>
 <div class="close-div">
    <img class="" src="assets/imgs/close.png">
 </div> -->