<ion-header no-border>
    <ion-toolbar>
      <ion-row>
      <ion-icon class="back-icon" name="arrow-back"style="cursor: pointer;" (click)="goback()"></ion-icon>
      <ion-title>Recipes</ion-title>
    </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-searchbar class="searchbar" ></ion-searchbar>
<!-- <div class="search-div">
  <ion-row>
  <h4>Fish</h4>
  <ion-icon class="search-icon" name="search"></ion-icon>
</ion-row>
</div> -->
<br>
<h4 class="h4">Recipes</h4>
<div class="recipes-div">
<ion-row>
  <ion-col size="3">
    <img class="avatar-img" src="assets/imgs/avatar-img.png">
  </ion-col>
  <ion-col size=7>
    <h6>Lorem Ipsum</h6>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci</p>
  </ion-col>
  <ion-col size=2>
    <img class="add-img" src="assets/imgs/add.png">
  </ion-col>
</ion-row>
</div>
<br>
<div class="recipes-div2">
  <ion-row>
    <ion-col size="3">
      <img class="avatar-img" src="assets/imgs/avatar-img2.png">
    </ion-col>
    <ion-col size=7>
      <h6>Lorem Ipsum</h6>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci</p>
    </ion-col>
    <ion-col size=2>
      <img class="add-img2" src="assets/imgs/add.png">
    </ion-col>
  </ion-row>
  </div>
  <br>
<div class="recipes-div2">
  <ion-row>
    <ion-col size="3">
      <img class="avatar-img" src="assets/imgs/avatar-img2.png">
    </ion-col>
    <ion-col size=7>
      <h6>Lorem Ipsum</h6>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci</p>
    </ion-col>
    <ion-col size=2>
      <img class="add-img2" src="assets/imgs/add.png">
    </ion-col>
  </ion-row>
  </div>
  <br>
<div class="recipes-div2">
  <ion-row>
    <ion-col size="3">
      <img class="avatar-img" src="assets/imgs/avatar-img2.png">
    </ion-col>
    <ion-col size=7>
      <h6>Lorem Ipsum</h6>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci</p>
    </ion-col>
    <ion-col size=2>
      <img class="add-img2" src="assets/imgs/add.png">
    </ion-col>
  </ion-row>
  </div>
  <br>
<div class="recipes-div2">
  <ion-row>
    <ion-col size="3">
      <img class="avatar-img" src="assets/imgs/avatar-img2.png">
    </ion-col>
    <ion-col size=7>
      <h6>Lorem Ipsum</h6>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci</p>
    </ion-col>
    <ion-col size=2>
      <img class="add-img2" src="assets/imgs/add.png">
    </ion-col>
  </ion-row>
  </div>

  <div class="awin-div">

  </div>
</ion-content>
