<ion-content>



  <ul class="progressbar">
    <li class="active" (click)="step1()"><img src="assets/imgs/trophy.png"></li>
    <li class="active" (click)="step2()"><img src="assets/imgs/cake.png"></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>


  <div class="gif-block">
    <h4>Start with Basic</h4>
    <img src="assets/imgs/nutition.gif">
  </div>

  <div class="form-area">
    <ion-row>
      <label>Name or User Name</label>
    </ion-row>  
      <ion-row>
        <ion-input mode="md" type="text" placeholder="Write Name/User Name"></ion-input>
    </ion-row>

          <ion-row>
              <ion-col >
                <label id="opt">DOB</label>
              </ion-col>
              <ion-col >
                <label id="opt">Gender</label>
              </ion-col> 
              <!-- <ion-col col-6>
                <ion-row>
                  <label>DOB</label>
                  <ion-col col-12>
                    <ion-datetime mode="ios" displayFormat="MMM DD, YYYY" placeholder="07/09/1996"></ion-datetime>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-6>
                <ion-row>
                  <label>Gender</label>
                  <ion-col col-12>
                    <ion-select placeholder="Select">
                      <ion-select-option mode="md" value="male">Male</ion-select-option>
                      <ion-select-option mode="md" value="female">Female</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </ion-col> -->
            </ion-row>
            <ion-row>
              <ion-col >
                  <ion-datetime  mode="ios" displayFormat="MMM DD, YYYY" placeholder="07/09/1996"></ion-datetime>
              </ion-col>
              <ion-col>
                  <ion-select placeholder="Select">
                      <ion-select-option mode="md" value="male">Male</ion-select-option>
                      <ion-select-option mode="md" value="female">Female</ion-select-option>
                    </ion-select>
              </ion-col>
            </ion-row>
    


    <ion-row>
        <p class="terms"> <ion-checkbox mode="ios"></ion-checkbox>Agree to our terms &amp; conditions</p>
    </ion-row>
  </div>


  <div style="padding: 0 55px;">
    <ion-button (click)="step3()" class="button">next</ion-button>
  </div>


</ion-content>
