<ion-header no-border>
    <ion-toolbar>
      <ion-row>
      <ion-icon class="back-icon" name="arrow-back"style="cursor: pointer;" (click)="goback()"></ion-icon>
      <ion-title>{{'RECINFO' | translate}}</ion-title>
    </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="container">
      <ion-row class="top">  
        <ion-col size="6"></ion-col>
        <ion-col size="6"><h2 id="nutrient-header">{{'NUTRIENTS' | translate}}</h2></ion-col>
    </ion-row>
    <ion-row>  
        <ion-col size="6"> <img src="./assets/imgs/recipe-image.png" id="recipe-img"></ion-col>
        <ion-col size="6" class="calories">
          
          <div class="circle-outline" style="border:1px solid white;">
            <img src="./assets/imgs/Layer 10.png">
          </div>
          <p>{{'CARB' | translate}} : 85 GR.</p>
            
          <div class="circle-outline" style="border:1px solid white;">
              <img src="./assets/imgs/Layer 11.png">
            </div>
          <p>{{'PROT' | translate}} : 32 GR.</p>
  
          <div class="circle-outline" style="border:1px solid white;">
              <img src="./assets/imgs/Layer 12.png" id="fat">
            </div>
          <p>{{'FAT' | translate}} : 16 GR.</p>

          <div class="circle-outline" style="border:1px solid white;">
              <img src="./assets/imgs/Layer 13.png" id="calorie">
            </div>
          <p>{{'CALORIE' | translate}} : 365 Kcal.</p>

        </ion-col>

        <ion-col size="6" class="body">
          <ion-row>
          <h4>Lorem Ipsum</h4>
          <img src="./assets/imgs/like.png">
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>

        <ion-row class="body2">
          <img src="./assets/imgs/badge.png">
          <h4>{{'Nutritionist' | translate}}</h4>
        </ion-row>
      </ion-row>
    <p id="body-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
    <h4 id="ingredients-header">{{'INGRED' | translate}}</h4>  

    <div class="ingredients-body">
        <ion-row>
          <p id="p1">{{'NAME' | translate}}</p>
          <p style="margin: 0%; margin-left: 2px !important; margin-top: 16px !important;" id="p2">{{'PROPORTION' | translate}}</p>
        </ion-row>
        
        <ion-row>
          <div class="item">
            <p>Lorem Ipsum</p>
          </div>
          <ion-col size="0.5"></ion-col>
          <div class="portion">
             <p>2 Sponds</p> 
          </div>
        </ion-row>
        <br>
        <ion-row>
            <div class="item">
              <p>Lorem Ipsum</p>
            </div>
            <ion-col size="0.5"></ion-col>
            <div class="portion">
               <p>1 Cup</p> 
            </div>
          </ion-row>
        <br>          
        <ion-row>
            <div class="item">
              <p>Lorem Ipsum</p>
            </div>
            <ion-col size="0.5"></ion-col>
            <div class="portion">
               <p>1 Piece</p> 
            </div>
          </ion-row>
        <br>          
        <ion-row> 
            <div class="item">
              <p>Lorem Ipsum</p>
            </div>
            <ion-col size="0.5"></ion-col>
            <div class="portion">
               <p>30 GR</p> 
            </div>
          </ion-row>

          <h4 id="steps-header">{{'STEPS' | translate}}</h4>  
          <ion-row>
              <div class="steps">
                <p>1) Boil the water</p>
              </div>
          </ion-row>
          <br>
          <ion-row>
              <div class="steps">
                <p>2) Add the pasta to water at 100&#8451; </p>
              </div>
          </ion-row>
          <br>
          <ion-row>
              <div class="steps">
                <p>3) Lorem Ipsum</p>
              </div>
          </ion-row>
          <br><br>
          <div class="footer">
            <ion-row>
              <img src="./assets/imgs/Ellipse 1.png"> <h4>{{'RECIPE' | translate}}</h4><p style="margin-left: -80px !important;">{{'CREATED' | translate}} Ipsum</p>
            </ion-row>
          </div>

          <br><br><br><br><br>
      </div>
  </div>
</ion-content>
